@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #CCC9AA;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #360B41;
  border-radius: 14px;
}

